coverage
build.sh
dist/test/
dist/src/*.test.js
dist/src/*.test.d.ts
dist/jest.config.js
tsconfig.tsbuildinfo
test/
.github/
.eslintrc.js
.husky/pre-commit
.prettierignore
.prettierrc
.tool-versions
*.tgz
Makefile
# Development files
src/**/*.test.ts
src/**/*.test.tsx
jest.config.ts
tsconfig.json
tsup.config.ts
publish-prerelease.sh
publish-release.sh
# Source files (since we have compiled output)
src/
index.ts
# Other development files
.eslintrc
.prettier*
.husky
